# Working on firm level data

In [1]:
import pandas as pd
import nltk
import numpy as np
import requests
import pickle

In [2]:
data = pd.read_pickle('firm_clean_data.pkl')

In [3]:
data[:10]

0        luz electric fuel israel ltd
1        luz electric fuel israel ltd
2    sumitomo electric industries ltd
3           sumitomo electric ind ltd
4    sumitomo electric industries ltd
5    sumitomo electric industries ltd
6             ricardo cayetano algeri
7            algeri; ricardo cayetano
8                       avl list gmbh
9                       avl list gmbh
Name: assignee, dtype: object

In [4]:
#patents_new[patents_new.current_applt=='TOYOTA MOTOR CORP']

In [5]:
#ri[ri.violation == 'Speeding'].driver_gender.value_counts()

In [6]:
data = data.str.replace(",","")

In [7]:
data = data.str.replace(".","")

In [8]:
data.value_counts()[:50]

toyota motor corp                                     7997
honda motor co ltd                                    3899
nissan motor co ltd                                   2670
robert bosch gmbh                                     2659
hyundai motor co ltd                                  2597
ford global technologies inc                          1671
mitsubishi motors corp                                 899
renault sas                                            760
hitachi ltd                                            759
denso corp                                             640
peugeot citroen automobiles sa                         626
mitsubishi electric corp                               513
aisin aw co ltd                                        365
daimlerchrysler ag                                     338
denso corporation                                      337
continental automotive gmbh                            316
suzuki motor corp                                      299
gm global technology operations llc                    291
siemens aktiengesellschaft                             285
yamaha hatsudoki kabushiki kaisha                      280
mazda motor corp                                       274
lsis co ltd                                            253
suzuki motor corporation                               229
audi ag                                                226
bayerische motoren werke aktiengesellschaft            212
general electric company                               199
volkswagen aktiengesellschaft                          195
isuzu motors ltd                                       194
hitachi automotive systems ltd                         192
yamaha motor co ltd                                    186
general motors corporation                             184
volkswagen ag                                          180
hino motors ltd                                        168
fuji heavy ind ltd                                     168
daimler ag                                             165
daihatsu motor co ltd                                  159
ford motor company                                     142
beiqi foton motor co ltd                               138
sony corporation                                       134
avl list gmbh                                          134
jaguar land rover limited                              127
byd company limited                                    125
toshiba corp                                           123
korea advanced institute of science and technology     121
nippondenso co ltd                                     120
kia motors corporation                                 119
kawasaki jukogyo kabushiki kaisha                      117
ntn corporation                                        114
mahle international gmbh                               113
jatco ltd                                              112
Name: assignee, dtype: int64

In [11]:
data.value_counts().nunique()

133

In [12]:
data.value_counts().unique()

array([7997, 3899, 2670, 2659, 2597, 1671,  899,  760,  759,  640,  626,
        513,  365,  338,  337,  316,  299,  291,  285,  280,  274,  253,
        229,  226,  212,  199,  195,  194,  192,  186,  184,  180,  168,
        165,  159,  142,  138,  134,  127,  125,  123,  121,  120,  119,
        117,  114,  113,  112,  107,  106,  105,  103,  100,   99,   97,
         96,   93,   88,   87,   86,   85,   84,   83,   80,   78,   77,
         75,   74,   72,   71,   70,   69,   65,   63,   61,   60,   59,
         58,   57,   55,   54,   53,   52,   51,   50,   49,   48,   47,
         46,   45,   43,   42,   41,   40,   39,   38,   37,   36,   35,
         34,   33,   32,   31,   30,   29,   28,   27,   26,   25,   24,
         23,   22,   21,   20,   19,   18,   17,   16,   15,   14,   13,
         12,   11,   10,    9,    8,    7,    6,    5,    4,    3,    2,
          1], dtype=int64)

In [14]:
data.nunique()

13469